  canvas {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .content {
      position: relative;
      color: white;
      text-align: center;
      padding-top: 20vh;
      z-index: 10;
    }

