<div class="relative h-screen w-screen overflow-hidden bg-black text-white">
  <!-- Dynamic Section -->
  <ng-template #container></ng-template>

  <!-- Loading Spinner -->
  <div
    *ngIf="isLoading"
    class="absolute inset-0 z-50 flex items-center justify-center"
  >
    <div
      class="w-12 h-12 border-4 border-t-white border-white/30 rounded-full animate-spin"
    ></div>
  </div>

  <!-- Navigation -->
  <div
    class="fixed right-6 top-1/2 -translate-y-1/2 z-50 flex flex-col items-center gap-4"
  >
    <ng-container *ngFor="let section of sections; let i = index">
      <button
        (click)="navigateTo(i)"
        class="w-12 h-12 flex items-center justify-center rounded-full border border-white/30 bg-white/10 text-white/60 backdrop-blur transition-all duration-300 hover:scale-110 hover:text-white"
        [ngClass]="{
          '!bg-white !text-black scale-125 shadow-3xl ring ring-cyan-400': currentIndex === i
        }"
      >
        <lucide-icon [name]="section.icon"></lucide-icon>
      </button>
    </ng-container>
  </div>
</div>
